<!DOCTYPE html>
<html>
<head>
  <title>TableMe</title>
  <%= stylesheet_link_tag    "table_me/application", :media => "all" %>
  <%= javascript_include_tag "table_me/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
